**/target/
.class
.project
.classpath
.factorypath
.springBeans
.settings/
/soap-tests/output/
logging.path_IS_UNDEFINED/
application-logs/
target/
tomcat/
logs/
application.pid
nb-configuration.xml
junit-*-beta-*.jar
spring.log.*
*.log
*~
